
body {
    margin: 20px;
}

small {
    font-size: 20px;  
}
.loca {
    text-align: right;
    margin-top: 0;
    padding: 0;
    color: rgb(255, 0, 0);
   
}
.location h1 {
    color: red;
}
.location h3 {
    color: rgb(248, 112, 112);
}
.weather {
    background-color: rgba(212, 212, 212, 0.716);
    max-width: 100%;
    padding: 20px;
    margin-bottom: 20px;
    margin: 0px;
    border-radius: 10px;
}
.weather_head {
    font-size: 80px;
}
.weekday {
    padding-top: 20px;
    text-align: center;
}
.weather_sub{
    float: right;
    font-size: 20px;
    color: gray;
    font-weight: 30px;
}